.env
node_modules
client/node_modules

yarn.lock
client/yarn.lock

package.json
client/package.json

*.md

tsconfig.json
client/tsconfig.json

README.md
LISCENCE
build
.husky/
.vscode/
*.log
*.txt

client/postcss.config.js
client/tailwind.config.js
bulk
